# Ignore everything
*

# Allow files and directories
!/.git
!/src
!/.editorconfig
!/.gitattributes
!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/morny-github-social-preview-card@0.75x.png
!/README.md
!/settings.gradle

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
